@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.50);
}

* {
  box-sizing: border-box;
}

body {
  background: #642b73; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #642b73, #c6426e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #642b73, #c6426e);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  h1, h2, h3, h4 {
    color: antiquewhite;
  }
  .form-control label {
    color: black;
  }
}

.container {
  margin: 30px auto;
  width: 350px;
  #balance {
    color: #201d1d;
  }
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

  h1, h2, h3 ,h4 {
    color: black;
  }

  > div {
    flex: 1;
    text-align: center;
  }

  > div:first-of-type {
    border-right: 1px solid #dedede;
  }
  p#moneyExpense, p#moneyIncome {
    text-decoration: underline;
  }
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
  &.income {
    color: #2ecc71;
  }
  &.expense {
    color: #c0392b;
  }
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'],
input[type='date']{
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  box-shadow: var(--box-shadow);
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #000;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
    &.plus {
      border-right: 5px solid #2ecc71;
    }
    &.minus {
      border-right: 5px solid #c0392b;
    }
    &:hover .delete-btn {
      opacity: 1;
    }
  }
}

.delete-btn {
  cursor: pointer;
  background-color: #e61601;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

